<h1>Love tapwater</h1>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%=h post.title %><%= link_to "&nbsp;&nbsp;&nbsp;", edit_post_path(post) %></h2>
    <div><%= post.content %></div>
    <div class="time"><%=h post.published_at.strftime("%d %m %Y") %></div>
  </div>
<% end %>

<br />

<%= link_to 'New post', new_post_path %>